* {
    margin: 0;
    padding: 0;
    text-decoration: none
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.site-topbar{
    background-color: #333;
    height: 40px;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
.top-nav{
    float: left;
   
}
.topbar a{
    color: #b0b0b0;
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
    margin: 0 5px;
}
.top-car{
    display: inline-block;
    float: right;
    width: 120px;
    text-align: center;
    background-color: #424242;    
}
.topbar-info{
    float: right;
}
.spa{
    font-size: 0.3em;
    color: #424242;
}
/* 第一阶段顶部结束 */

.site-header{
    height: 100px;
}
.header-logo{
    line-height: 100px;
    padding: 22px 0;
    float: left;
}
.site-header ul{
    display: inline-block;
    float: left;
    line-height: 100px;
    padding-left: 171px;

}
.site-header  li{
    display: inline-block;
    padding: 0 8px;
}
.site-header a{
    color: #000;
}
.site-header a:hover{
    color: rgb(218, 24, 24);
}
.form-search{
    float: right;
    margin: auto 6px;
    line-height: 100px;
}

.form-search #search{
    width: 232px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.form-search #submit{
    width: 50px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin: -6px;
}
